<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSwift - Fazendas</title>
    <link rel="stylesheet" href="/css/farm.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/marca.svg" alt="marca" class="logo">
        </div>

        <nav>
            <ul>
                <li><a href="/gestor/home">OPERAÇÕES</a></li>
                <li><a href="/gestor/services">SERVIÇOS</a></li>
                <li>
                    <button class="perfil-btn" id="openModalBtn">
                        <img src="/images/perfil.svg" alt="Perfil" class="perfil-icon">
                    </button>
                </li>
            </ul>
        </nav>
        
        <div id="perfilModal" class="modal">
            <div class="modal-content">
                <span class="close-modal" id="closePerfilModal">&times;</span>
                <ul>
                    <li>
                        <button class="header-button" type="button" onclick="window.location.href='/gestor/user'">
                            <img src="/images/newuser.svg" alt="Novo Usuário" class="icon"> Novo usuário
                        </button>
                    </li>
                    <li>
                        <button class="header-button" type="button" onclick="window.location.href='/gestor/login'">
                            <img src="/images/logout.svg" alt="Logout" class="icon"> Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="nova-fazenda-container">
            <h1>Fazendas</h1>
            <button class="nova-fazenda-btn" id="novaFazendaBtn">
                Nova Fazenda <img src="/images/newfarm.svg" alt="Adicionar">
            </button>
        </div>

         <!-- Barra de pesquisa -->
         <div class="search-container">
            <input type="text" id="searchInput" class="search-bar" placeholder="Pesquisar fazenda">
            <button class="search-button" onclick="filtrarServicos()">
                <img src="/images/pesquisa.svg" alt="Pesquisar">
            </button>
        </div>

        <div id="fazendaModal" class="fazenda-modal">
            <div class="fazenda-modal-content">
                <span class="fazenda-close-modal" id="closeFazendaModal">&times;</span>
                <h3>Adicionar Nova Fazenda</h3>
                <form action="/gestor/farm/add" method="POST" enctype="multipart/form-data">
                    <div class="fazenda-form-group">
                        <label for="nomeFazenda">Nome da Fazenda:</label>
                        <input type="text" id="nomeFazenda" name="nomeFazenda" required>
                    </div>
                    <div class="fazenda-form-group">
                        <label for="imagemFazenda">Imagem da Fazenda:</label>
                        <input type="file" id="imagemFazenda" name="imagemFazenda" accept="image/*" required>
                    </div>
                    <div class="fazenda-form-group">
                        <label for="pdfFazenda">PDF do Mapa da Fazenda:</label>
                        <input type="file" id="pdfFazenda" name="pdfFazenda" accept=".pdf" required>
                    </div>
                    <button type="submit" class="fazenda-submit-btn">Salvar Fazenda</button>
                </form>
            </div>
        </div>

        <section class="fazendas-list">
            <% fazendas.forEach(fazenda => { %>
                <div class="fazenda-item" id="fazenda-<%= fazenda.id %>">
                    <% if (fazenda.imagem) { %>
                        <img src="<%= fazenda.imagem %>" alt="Imagem da Fazenda <%= fazenda.nome %>" class="fazenda-imagem">
                    <% } %>
                
                    <div class="fazenda-info">
                        <div class="fazenda-nome"><%= fazenda.nome %></div>
                    </div>
                
                    <div class="fazenda-acoes">
                        <% if (fazenda.mapa) { %>
                            <a href="<%= fazenda.mapa %>" target="_blank" class="pdf-button">
                                <img src="/images/pdf.svg" alt="Ver PDF da Fazenda">
                                MAPA
                            </a>
                        <% } %>
                        <button class="fazenda-edit-button" onclick="editarFazenda('<%= fazenda.id %>')">
                            <img src="/images/edit.svg" alt="Editar Fazenda">
                        </button>
                        <button class="fazenda-delete-button" onclick="deletarFazenda('<%= fazenda.id %>')">
                            <img src="/images/delete.svg" alt="Deletar Fazenda">
                        </button>
                    </div>

                    <div class="fazenda-edit-form" id="edit-form-<%= fazenda.id %>" style="display: none;">
                        <form action="/gestor/farm/edit/<%= fazenda.id %>" method="POST" enctype="multipart/form-data">
                            <div class="fazenda-form-group">
                                <label for="nomeFazenda-<%= fazenda.id %>">Nome da Fazenda:</label>
                                <input type="text" id="nomeFazenda-<%= fazenda.id %>" name="nomeFazenda" value="<%= fazenda.nome %>" required>
                            </div>
                            <div class="fazenda-form-group">
                                <label for="imagemFazenda-<%= fazenda.id %>">Imagem da Fazenda:</label>
                                <input type="file" id="imagemFazenda-<%= fazenda.id %>" name="imagemFazenda" accept="image/*">
                            </div>
                            <div class="fazenda-form-group">
                                <label for="pdfFazenda-<%= fazenda.id %>">PDF do Mapa da Fazenda:</label>
                                <input type="file" id="pdfFazenda-<%= fazenda.id %>" name="pdfFazenda" accept=".pdf">
                            </div>
                            <div class="edit-actions">
                                <button type="submit" class="fazenda-submit-btn">Salvar</button>
                                <button type="button" class="fazenda-cancel-btn" onclick="cancelarEdicao('<%= fazenda.id %>')">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>

    <script>
                // Modal de perfil
        const openModalBtn = document.getElementById('openModalBtn');
        const perfilModal = document.getElementById('perfilModal');

        // Alternar modal de perfil ao clicar no botão
        openModalBtn.onclick = function(event) {
            event.stopPropagation();
            perfilModal.classList.toggle('show'); // Alterna a classe 'show' para abrir/fechar o modal
        };

        // Fechar o modal ao clicar fora dele
        window.onclick = function(event) {
            if (event.target !== openModalBtn && !perfilModal.contains(event.target)) {
                perfilModal.classList.remove('show'); // Fecha o modal se o clique for fora dele
            }
        };

        // Fechar o modal ao clicar no botão "X" (ícone de fechar)
        const closePerfilModal = document.getElementById('closePerfilModal');
        closePerfilModal.onclick = function() {
            perfilModal.classList.remove('show'); // Remove a classe 'show' para fechar o modal
        };

        // Modal para adicionar nova fazenda
        const novaFazendaBtn = document.getElementById('novaFazendaBtn');
        const fazendaModal = document.getElementById('fazendaModal');
        const closeFazendaModal = document.getElementById('closeFazendaModal');

        novaFazendaBtn.onclick = function() {
            fazendaModal.style.display = 'block';
        };

        closeFazendaModal.onclick = function() {
            fazendaModal.style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target === fazendaModal) {
                fazendaModal.style.display = 'none';
            }
        };

        // Funções para edição e cancelamento de edição
        function editarFazenda(id) {
            const editForm = document.getElementById(`edit-form-${id}`);
            editForm.style.display = 'block';
        }

        function cancelarEdicao(id) {
            const editForm = document.getElementById(`edit-form-${id}`);
            editForm.style.display = 'none';
        }

        // Submissão do formulário de edição via AJAX
        document.querySelectorAll('.fazenda-edit-form form').forEach(form => {
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const formData = new FormData(form);
                const action = form.getAttribute('action');

                try {
                    const response = await fetch(action, {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();

                    if (result.success) {
                        alert('Fazenda atualizada com sucesso!');
                        location.reload();
                    } else {
                        alert('Erro ao atualizar a fazenda. Tente novamente.');
                    }
                } catch (error) {
                    console.error('Erro ao atualizar a fazenda:', error);
                    alert('Erro ao atualizar a fazenda. Tente novamente.');
                }
            });
        });

        // Função para deletar fazenda
        function deletarFazenda(id) {
            if (confirm('Tem certeza que deseja deletar esta fazenda?')) {
                fetch(`/gestor/farm/delete/${id}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            document.getElementById(`fazenda-${id}`).remove();
                        } else {
                            alert('Erro ao deletar a fazenda');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao deletar a fazenda:', error);
                        alert('Erro ao deletar a fazenda');
                    });
            }
        }

    function filtrarFazendas() {
    const input = document.getElementById('searchInput').value.toLowerCase();
    const fazendas = document.querySelectorAll('.fazenda-item');
    let encontrouFazenda = false;

    fazendas.forEach(fazenda => {
        const nomeFazenda = fazenda.querySelector('.fazenda-nome').textContent.toLowerCase();
        if (nomeFazenda.includes(input)) {
            fazenda.classList.remove('hidden'); // Mostra a fazenda
            encontrouFazenda = true; // Marca como encontrada
        } else {
            fazenda.classList.add('hidden'); // Oculta a fazenda
        }
    });

    // Verifica se alguma fazenda foi encontrada
    const mensagemNenhumaFazenda = document.getElementById('nenhumaFazendaEncontrada');
    if (!encontrouFazenda && input !== '') {
        mensagemNenhumaFazenda.style.display = 'block'; // Mostra a mensagem
    } else {
        mensagemNenhumaFazenda.style.display = 'none'; // Esconde a mensagem
    }
}

    // Evento de input na barra de pesquisa
    document.getElementById('searchInput').addEventListener('input', filtrarFazendas);
    </script>
</body>
</html>
