<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSwift - Início</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/marca.svg" alt="marca" class="logo">
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="/gestor/services" class="nav-item">SERVIÇOS</a></li>
                <li><a href="/gestor/farm" class="nav-item">FAZENDAS</a></li>
                <li>
                    <button class="perfil-btn" id="openModalBtn">
                        <img src="/images/perfil.svg" alt="Perfil" class="perfil-icon">
                    </button>
                </li>
            </ul>
        </nav>

        <div id="perfilModal" class="modal">
            <div class="modal-content">
                <span class="close-modal" id="closePerfilModal">&times;</span>
                <ul class="modal-options">
                    <li>
                        <button class="header-button" type="button" onclick="window.location.href='/gestor/user'">
                            <img src="/images/newuser.svg" alt="Novo Usuário" class="icon"> Novo usuário
                        </button>
                    </li>
                    <li>
                        <button class="header-button" id="logoutBtn">
                            <img src="/images/logout.svg" alt="Logout" class="icon"> Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <!-- Título principal da página -->
        <h1 class="main-title">Operações Agendadas</h1>

        <!-- Barra de pesquisa -->
        <div class="search-container">
            <input type="text" id="searchInput" class="search-bar" placeholder="Pesquisar fazenda">
            <button class="search-button" onclick="filtrarServicos()">
                <img src="/images/pesquisa.svg" alt="Pesquisar">
            </button>
        </div>

        <section class="servicos-list" id="servicosList">
            <% servicos.forEach(servico => { %>
                <div class="servico-item" id="servico-<%= servico.servico_id %>" 
                    data-fazenda-nome="<%= servico.fazenda_nome %>"
                    data-data="<%= servico.data %>"
                    data-status="<%= servico.status %>"
                    data-pdf="<%= servico.mapa %>"
                    data-servico="<%= servico.servico %>"
                    data-colaborador="<%= servico.colaborador %>"
                    data-drone="<%= servico.drone %>">
                    <!-- Imagem e Nome da Fazenda -->
                    <div class="servico-topico">
                        <% if (servico.imagem) { %>
                            <img src="/uploads/<%= servico.imagem %>" alt="Imagem da Fazenda <%= servico.fazenda_nome %>" class="servico-imagem" onclick="abrirDetalhes('<%= servico.servico_id %>')">
                        <% } %>
                        <div class="fazenda-nome"><%= servico.fazenda_nome %></div>
                    </div>
        
                    <!-- Divisão com informações -->
                    <div class="servico-detalhes">
                        <!-- Data -->
                        <div class="servico-data">
                            <strong>Data:</strong>
                            <span><%= servico.data %></span>
                        </div>
        
                        <!-- Linha divisória -->
                        <div class="servico-detalhes-divider"></div>
        
                        <!-- Status -->
                        <div class="servico-status">
                            <strong>Status:</strong>
                            <span><%= servico.status %></span>
                        </div>
        
                        <!-- Linha divisória -->
                        <div class="servico-detalhes-divider"></div>
        
                        <!-- Botão -->
                        <div class="servico-acoes">
                            <% if (servico.status === 'Em andamento') { %>
                                <button class="acompanhar-button" onclick="acompanharServico('<%= servico.servico_id %>')">Acompanhar</button>
                            <% } else { %>
                                <button class="deletar-button" onclick="deletarServico('<%= servico.servico_id %>')">Excluir</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>

    <!-- Modal para detalhes da fazenda -->
    <div id="detalhesModal" class="modal">
        <div class="modal-content detalhes-modal-content">
            <span class="close-modal" id="closeDetalhesModal">&times;</span>
            <div class="detalhes-container">
                <div class="detalhes-imagem-container">
                    <img id="detalhesImagem" src="" alt="Mapa da Fazenda" class="detalhes-imagem">
                </div>
                <div class="detalhes-info-container">
                    <h2>Detalhamento</h2>
                    <p><strong>Fazenda</strong>: <span id="detalhesFazenda"></span></p>
                    <p><strong>Data</strong>: <span id="detalhesData"></span></p>
                    <p><strong>Tipo Operacao</strong>: <span id="detalhesServico"></span></p>
                    <p><strong>Modelo drone</strong>: <span id="detalhesDrone"></span></p>
                    <p><strong>Colaborador</strong>: <span id="detalhesColaborador"></span></p>
                    <p id="detalhesPdfLink" style="display: none;"><a id="detalhesPdf" href="" target="_blank">MAPA COMPLETO</a></p>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal para vídeo -->
    <div id="videoModal" class="modal">
        <div class="modal-content video-modal-content">
            <span class="close-modal" id="closeVideoModal">&times;</span>
            <div class="video-container">
                <video id="videoPlayer" controls>
                    <source src="/clips/aplicacao.mp4" type="video/mp4">
                    Seu navegador não suporta a tag de vídeo.
                </video>
            </div>
        </div>
    </div>
    

    <script>
        // Modal de perfil
        const openModalBtn = document.getElementById('openModalBtn');
        const perfilModal = document.getElementById('perfilModal');
        const closePerfilModal = document.getElementById('closePerfilModal');

        openModalBtn.onclick = function(event) {
            event.stopPropagation();
            // Alterna a visibilidade do modal
            perfilModal.classList.toggle('show');
        };

        closePerfilModal.onclick = function() {
            perfilModal.classList.remove('show');
        };

        window.onclick = function(event) {
            if (event.target === perfilModal) {
                perfilModal.classList.remove('show');
            }
        };

        function deletarServico(servicoId) {
            if (confirm('Tem certeza que deseja excluir este serviço?')) {
                fetch(`/gestor/servico/delete/${servicoId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        // Remove o item da página após a exclusão
                        document.getElementById(`servico-${servicoId}`).remove();
                    } else {
                        alert('Erro ao excluir o serviço.');
                    }
                })
                .catch(error => {
                    console.error('Erro ao excluir o serviço:', error);
                    alert('Erro ao excluir o serviço.');
                });
            }
        }

        // Função para abrir o modal com detalhes da fazenda
        function abrirDetalhes(servicoId) {
            // Pegar informações do serviço
            const servicoItem = document.getElementById(`servico-${servicoId}`);
            const fazendaNome = servicoItem.getAttribute('data-fazenda-nome');
            const data = servicoItem.getAttribute('data-data');
            const status = servicoItem.getAttribute('data-status');
            const pdf = servicoItem.getAttribute('data-pdf');
            const servico = servicoItem.getAttribute('data-servico');
            const colaborador = servicoItem.getAttribute('data-colaborador');
            const drone = servicoItem.getAttribute('data-drone');
            const mapaSrc = servicoItem.querySelector('.servico-imagem').src;

            // Atualizar conteúdo do modal
            document.getElementById('detalhesImagem').src = mapaSrc;
            document.getElementById('detalhesFazenda').textContent = fazendaNome;
            document.getElementById('detalhesData').textContent = data;
            document.getElementById('detalhesServico').textContent = servico;
            document.getElementById('detalhesDrone').textContent = drone;
            document.getElementById('detalhesColaborador').textContent = colaborador;

            const detalhesPdfLink = document.getElementById('detalhesPdfLink');
            const detalhesPdf = document.getElementById('detalhesPdf');
            if (pdf) {
                detalhesPdf.href = `/uploads/${pdf}`;
                detalhesPdfLink.style.display = 'block';
            } else {
                detalhesPdfLink.style.display = 'none';
            }

            // Mostrar modal de detalhes
            document.getElementById('detalhesModal').style.display = 'block';
        }

        // Modal de detalhes
        const detalhesModal = document.getElementById('detalhesModal');
        const closeDetalhesModal = document.getElementById('closeDetalhesModal');

        closeDetalhesModal.onclick = function() {
            detalhesModal.style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target === detalhesModal) {
                detalhesModal.style.display = 'none';
            }
        };

        // Função para filtrar os serviços de acordo com a barra de pesquisa
        document.getElementById('searchInput').addEventListener('input', filtrarServicos);

        function filtrarServicos() {
            const input = document.getElementById('searchInput').value.toLowerCase();
            const servicos = document.querySelectorAll('.servico-item');

            servicos.forEach(servico => {
                const fazendaNome = servico.querySelector('.fazenda-nome').textContent.toLowerCase();
                if (fazendaNome.includes(input)) {
                    servico.style.display = 'flex'; // Mostra o serviço se encontrar uma correspondência
                } else {
                    servico.style.display = 'none'; // Esconde o serviço se não encontrar correspondência
                }
            });
        }

        // Modal de vídeo
        const videoModal = document.getElementById('videoModal');
        const closeVideoModal = document.getElementById('closeVideoModal');

        // Função para abrir o modal de vídeo
        function abrirVideo() {
            videoModal.style.display = 'block';
        }

        // Função para fechar o modal de vídeo
        closeVideoModal.onclick = function() {
            videoModal.style.display = 'none';
            // Pausar o vídeo quando o modal for fechado
            document.getElementById('videoPlayer').pause();
        };

        // Fechar o modal clicando fora dele
        window.onclick = function(event) {
            if (event.target === videoModal) {
                videoModal.style.display = 'none';
                document.getElementById('videoPlayer').pause();
            }
        };

        // Substitua o código do botão "Acompanhar" para abrir o modal de vídeo
        function acompanharServico(servicoId) {
            abrirVideo(); // Abre o modal de vídeo
        }

        // Função para fazer o logout
        document.getElementById('logoutBtn').onclick = function() {
            // Redireciona para a rota de logout
            window.location.href = '/gestor/logout';
        };

    </script>

</body>
</html>
